<div ng-controller="homeCtrl" class="mainHomeDiv">
  <div style="">
  <form class="form-inline" style="text-align:center;" ng-submit="searchWeather()">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="location.city" id="location" googleplace placeholder="Type Location..." required />
    </div>
    <span ng-bind="weatherErr" style="color:red;"></span>
    <button type="submit" class="btn btn-default">Search</button>
  </form>
  </div>

  <!-- current locaton code -->
  <p style="text-align:center;" ng-bind="geoLocationErr"></p>
  <div class="row" id="curLocMainDiv" ng-if="curLocationWeather.list[0]!=undefined">
    <div class="col col-md-4">
      <img src="../img/cloud.png" style="float:right;"></img>
      <h3 style="color:white;">{{curLocationWeather.city.name}}, {{curLocationWeather.city.country}}</h3>
      <h3 style="color:white;">{{curLocationWeather.list[0].temp.day | TempFilter }} ℃</h3>
      <p>Date: {{curLocationWeather.list[0].dt * 1000 | date:'dd-MM-yyyy'}}</p>
      <p>{{curLocationWeather.list[0].weather[0].description}}</p>
    </div>
    <div class="col col-md-4">
      <p>pressure: {{curLocationWeather.list[0].pressure}} hPa</p>
      <p>humidity: {{curLocationWeather.list[0].humidity}} %</p>
      
      <p>speed: {{curLocationWeather.list[0].speed}} meter/sec</p>
      <p>clouds: {{curLocationWeather.list[0].clouds}} %</p>
    </div>
    <div class="col col-md-4"></div>
     <p>Latest Report: {{curDateTime | date:'dd-MM-yyyy HH:mm:ss Z' : '+0530'}}</p>
     <p>Current Time: {{timeDate | date:'dd-MM-yyyy HH:mm:ss Z' : '+0530'}}</p>
  </div>
  
  <div style="margin:auto" ng-if="curLocationWeather.list[0]!=undefined">
    <h4 style="text-align:center;">Current location Last 14 days weather forecast</h4>
    <ul id="navlist">
      <li ng-repeat="weather in curLocationWeather.list">
        <div>
          <h4 style="text-align:center;">{{curLocationWeather.list[$index].dt * 1000 | date:'dd-MM-yyyy'}}</h4>
          <p>morning: {{curLocationWeather.list[$index].temp.morn | TempFilter }} ℃</p>
          <p>day: {{curLocationWeather.list[$index].temp.day | TempFilter }} ℃</p>
          <p>evening: {{curLocationWeather.list[$index].temp.eve | TempFilter }} ℃</p>
          <p>night: {{curLocationWeather.list[$index].temp.night | TempFilter }} ℃</p>
         
          <p>min: {{curLocationWeather.list[$index].temp.min | TempFilter }} ℃</p>
          <p>max: {{curLocationWeather.list[$index].temp.max | TempFilter }} ℃</p>
         
        </div>
      </li>
    </ul>
  </div>

  <hr>
  <!-- entered locaton code --> 
 
  <div class="row" id="curLocMainDiv" ng-if="enteredLocationWeather.list[0]!=undefined">
    <div class="col col-md-4">
      <img src="../img/cloud.png" style="float:right;"></img>
      <h3 style="color:white;">{{location.city}}</h3>
      <h3 style="color:white;">{{enteredLocationWeather.list[0].temp.day | TempFilter }} ℃</h3>
      <p>Date: {{enteredLocationWeather.list[0].dt * 1000 | date:'dd-MM-yyyy'}}</p>
      <p>{{enteredLocationWeather.list[0].weather[0].description}}</p>
    </div> 
    <div class="col col-md-4">
      <p>pressure: {{enteredLocationWeather.list[0].pressure}} hPa</p>
      <p>humidity: {{enteredLocationWeather.list[0].humidity}} %</p>
      
      <p>speed: {{enteredLocationWeather.list[0].speed}} meter/sec</p>
      <p>clouds: {{enteredLocationWeather.list[0].clouds}} %</p>
    </div>
    <div class="col col-md-4"></div>
     <p>Latest Report: {{searchDateTime | date:'dd-MM-yyyy HH:mm:ss Z' : '+0530'}}</p>
     <p>Current Time: {{timeDate | date:'dd-MM-yyyy HH:mm:ss Z' : '+0530'}}</p>
  </div>

  <div style="margin:auto" ng-if="enteredLocationWeather.list[0]!=undefined">
    <h4 style="text-align:center;">{{location.city}} Last 14 days weather forecast</h4>
    <ul id="navlist">
      <li ng-repeat="weather in enteredLocationWeather.list">
        <div>
          <h4 style="text-align:center;">{{enteredLocationWeather.list[$index].dt * 1000 | date:'dd-MM-yyyy'}}</h4>
          <p>morning: {{enteredLocationWeather.list[$index].temp.morn | TempFilter }} ℃</p>
          <p>day: {{enteredLocationWeather.list[$index].temp.day | TempFilter }} ℃</p>
          <p>evening: {{enteredLocationWeather.list[$index].temp.eve | TempFilter }} ℃</p>
          <p>night: {{enteredLocationWeather.list[$index].temp.night | TempFilter }} ℃</p>
          <p>min: {{enteredLocationWeather.list[$index].temp.min | TempFilter }} ℃</p>
          <p>max: {{enteredLocationWeather.list[$index].temp.max | TempFilter }} ℃</p>
        </div>
      </li>
    </ul>
  </div>

</div>
</div>